root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
trim_trailing_whitespace = true

[*.js]
indent_brace_style = K&R
spaces_around_brackets = outside

[*.py]
max_line_length = 79
