{{ utd_header }}
{% block relogin_content %}
  <div id="summary">
    <h2>You have been successfully logged in.<h2>
  </div>
  <div id="info">
    <p id="utrelogin-msg">{{ msg }}</p>
    <p id="utrelogin-countdown">
      This window will close automatically in
      <span id="utrelogin-timeout">{{ timeout }}</span> seconds.
      <a href="#" id="stop-countdown">(Stop)</a>
    </p>
  </div>

  <script type="text/javascript">
  (function () {
      if (!window.opener) {
          document.getElementById('utrelogin-countdown').innerHTML =
              'This window may be closed at any time.';
          return null;
      }

      window.opener.utrelogin.postLogin();

      var timeLeft = {{ timeout }},
          cinterval;

      var timeDec = function (){
          timeLeft--;
          document.getElementById('utrelogin-timeout').innerHTML = timeLeft;
          if(timeLeft === 0){
              clearInterval(cinterval);
              window.close();
          }
      };

      cinterval = setInterval(timeDec, 1000);

      document.getElementById('stop-countdown')
              .addEventListener('click', function() {
                  clearInterval(cinterval);
              });
  })();
  </script>

{% endblock relogin_content %}
{{ utd_footer }}
