{{ utd_header }}

{% block relogin_content %}

  <div id="summary">
    <h2>Login successful.</h2>
  </div>
  <div id="info">
  {% if msg %}
    <p id="utrelogin-msg">{{ msg }}</p>
  {% endif %}
    <p id="utrelogin-countdown">
      This window will close automatically in
      <span id="utrelogin-timeout">{{ timeout }}</span> seconds.
    </p>
  </div>

  <script type="text/javascript">
  (function () {
      if (!window.opener) {
          // Don't attempt anything if this page wasn't opened programmatically.
          document.getElementById('utrelogin-countdown').innerHTML =
              'No action is required.';
          return;
      }

      window.opener.utrelogin.postLogin();

      var timeLeft = {{ timeout }},
          cinterval;

      var timeDec = function (){
          timeLeft--;
          document.getElementById('utrelogin-timeout').innerHTML = timeLeft;
          if(timeLeft === 0){
              clearInterval(cinterval);
              window.close();
          }
      };

      cinterval = setInterval(timeDec, 1000);
  })();
  </script>

{% endblock relogin_content %}

{{ utd_footer }}
