{{ utd_header }}
{% block relogin_content %}
  <div id="summary">
    <h2>You have been successfully logged in.<h2>
  </div>
  <div id="info">
    <p>{{ msg }}</p>
    <p>
      This window will close automatically in
      <span id="countdown">{{ timeout }}</span> seconds.
      <a href="#" id="stop-countdown">(Stop)</a>
    </p>
  </div>

  <script type="text/javascript">
    (function () {
      try {
        window.opener.utrelogin.callback_registry.postLogin();
      } catch (err) {
        console.info('unable to do post-login');
      }

      var timeLeft = {{ timeout }},
          cinterval;

      var timeDec = function (){
          timeLeft--;
          document.getElementById('countdown').innerHTML = timeLeft;
          if(timeLeft === 0){
              clearInterval(cinterval);
              window.close();
          }
      };

      cinterval = setInterval(timeDec, 1000);

      document.getElementById('stop-countdown')
              .addEventListener('click', function() {
                  clearInterval(cinterval);
              });
    })();
  </script>

{% endblock relogin_content %}
{{ utd_footer }}
